:root{--light-gray:#f2f0f0;--gray:#e3e3e3;--dark-gray:#919191;--darker-gray:#545454;--logo-blue:#1D4ED8;--darker-blue:#1E40AF;--lighter-blue:#60A5FA;--even-lighter-blue:#BFDBFE;--lightest-blue:#DBEAFE;--red:#FF0000;--dark-orange:#ED0707;--light-orange:#f9c56c;--even-lighter-orange:#fcdbb8;--strange-yellow:#dbae2e;--green:#34D399;--light-green:#E6F8DD;--medium-green:#A0C99C;--dark-green:#059669;accent-color:#1D4ED8;accent-color:var(--logo-blue);}
*{box-sizing:border-box;}
table.bulletin-table{width:100%;overflow-wrap:break-word;word-break:break-word;}
table.bulletin-table{border-collapse:collapse;border-spacing:0;}
.bulletin-table th{border:1px solid black;padding:7px;}
html{line-height:1.225;}
html,body{margin:0;padding:0;}
body{background-color:#e3e3e3;background-color:var(--gray);font-family:verdana, arial, sans-serif, helvetica;}
.container{width:810px;max-width:100%;margin:0 auto 10px;}
time.ago{opacity:0;}
a{color:#1E40AF;color:var(--darker-blue);text-decoration:none;}
a:hover,a:active{color:#c00;text-decoration:underline;}
p{font-size:0.875em;font-size:max(0.875em, 12px);}
main{background:white;color:black;padding:6px 0px;font-size:80%;}
main h2 {text-align: center;}
main .left,main .right{padding:10px;}
.bulletin .comments .heading h4{margin:0;display:inline-block;}
.bulletin .comments .heading{padding:10px 7px;border-top:2px solid rgba(0, 0, 0, 0.4);margin-top:10px;}
.bulletin .comments .inner{padding:7px;}
.bulletin .comments p{margin:0 0 8px 0;}
.count{color:#D32626;}
table.comments-table{width:100%;overflow-wrap:break-word;word-break:break-word;}
.comments-table p{font-size:100%;}
.comments-table td:first-child{background:#f9c56c;background:var(--light-orange);text-align:center;font-weight:bold;width:38%;}
.comments-table td{background:#fcdbb8;background:var(--even-lighter-orange);vertical-align:top;}
.comments-table td:first-child img:not(.icon){width:90px;max-width:100%;max-height:200px;}
.comments-table td *{max-width:100%;}
.edit-info{background:#DBEAFE;background:var(--lightest-blue);border:1px solid #60A5FA;border:1px solid var(--lighter-blue);width:100%;padding:5px;overflow-wrap:break-word;word-break:break-word;}
.bulletin .profile-pic img{max-width:110px;max-height:110px;}
.bulletin .content{padding:0 10px 0 0;overflow:hidden;overflow-wrap:break-word;word-break:break-word;}
.bulletin .content p{font-size:1em;}
.bulletin .content *{max-width:100%;}
.bulletin .title{margin:3px 0 5px 0;overflow-wrap:break-word;word-break:break-word;}
.bulletin .right h4{margin:3px 0 5px 0;overflow-wrap:break-word;word-break:break-word;}
.article .edit-info .author-details .publish-date{font-size:80%;}
.article .edit-info .author-details h4{margin:10px 0 5px 0;}
.article .edit-info .author-details p{margin:7px 0;}
.icon{display:inline-block;height:1.4em;width:1.4em;aspect-ratio:1/1;margin:0 .05em 0 .1em;vertical-align:-0.3em;color:rgba(0, 0, 0, 0);}
@media (min-width: 30em){
.row{width:100%;display:table;table-layout:fixed;}
.col{display:table-cell;vertical-align:top;}
.col.w-20{width:20%;}
.article .edit-info .author-details .links a{display:block;margin-bottom:5px;}
}
@media (max-width: 30em){
.m-hide{display:none!important;}
.article .edit-info .profile-pic,.article .edit-info .author-details{display:inline-block;vertical-align:top;}
.article .edit-info .author-details{padding-left:10px;width:calc(100% - 115px);min-width:145px;max-width:100%;}
.article .edit-info .author-details .links a:last-child{display:block;margin-top:5px;}
}
/*! CSS Used from: http://127.0.0.1:5500/styles/custom.css */
main{margin-top:25%;}